<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>1212209_DAGK_10</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myController">

	<div class="container">
			<div class="row" style="background-color: #565656; color: #fff">
			  <div class="col-md-12">Linkedin</div>
			</div>
			<!-- Content of linkedin -->
			<div class="row" ng-repeat="x in myInfo" id="myProfile" >
				<div class="col-md-2">
					<img src="{{x.Image}}" alt="Image" class="images">
				</div>
				<div class="col-md-10">
					<h3>{{x.HeadLine}}</h3>
					<span ng-if="!edit"><b>Full name:</b> {{x.Name}}</span><br>
					<div ng-if="edit"><b>Full name:</b><input  type="text" ng-model="x.Name" class="form-control"></div>
					<span ng-if="!edit"><b>Carrer: </b>{{x.Carrer}}</span><br>
					<div ng-if="edit"><b>Carrer:</b><input type="text" ng-model="x.Carrer" class="form-control"></div>
					<span ng-if="!edit"><b>Contact: </b>{{x.Contact}}</span><br>
					<div ng-if="edit"><b>Contact:</b><input type="text" ng-model="x.Contact" class="form-control"></div>
					<span ng-if="!edit"><b>Country: </b>{{x.Country}}</span><br>
					<div ng-if="edit"><b>Country:</b><input type="text" ng-model="x.Country" class="form-control"><br></div>
					<button ng-click="editProfile()" class="btn btn-default" >Edit</button>
					<button ng-click="SaveProfile()" class="btn btn-default" >Save</button>
				</div>
			</div>

			<div id="Summary" class="row" ng-repeat="s in summary">
				<div class="col-md-12">
					<h4>Summary</h4>
					<div ng-if="!editS"><p><pre>{{s.Content}}</pre></p></div>
					<div ng-if="editS"><textarea ng-model="s.Content" class="form-control" rows="4"></textarea><br></div>
					<button ng-click="EditMySummary()" class="btn btn-default" >Edit</button>
					<button ng-click="SaveMySummary()" class="btn btn-default" >Save</button>
				</div>
			</div>

			<div id="Experience" class="row">
				<h4>Experience</h4>
				<div class="row">
				<div ng-repeat="e in experiences">
						<div class="col-md-5">
							<!-- {{e.Id}} -->
							    <b>Position:</b> {{e.Position}}<br>
								<b>Company:</b> {{e.Company}}<br>
								<b>Time:</b> {{e.Time}}
						</div>
						<div class="col-md-4" style="padding-bottom: 25px;">
							<img src="{{e.Logo}}" alt="logo" style="width: 100px; height: 70px;" >
						</div>
						<div style="padding-bottom: 25px;" class="col-md-3">
					   <button ng-click="EditMyExperiences(e.Id)" class="btn btn-default" >Edit</button>
						</div>
				</div>
			</div>
			<div class="row">
				<button ng-click="CreateMyExperiences()" class="btn btn-default" >Add New Experience</button>
				<hr>
			</div>
					<form class="form-group" ng-hide="hideFormExperiences">
						<!-- <label>Id</label>
						<input type="text" ng-model="Id" class="form-control" > -->
						<label>Position</label>
						<input type="text" ng-model="Position" class="form-control">
						<label>Company</label>
						<input type="text" ng-model="Company" class="form-control">
						<label>Time</label>
						<input type="text" ng-model="Time" class="form-control"><br>
						<button ng-click="SaveMyExperiences()" class="btn btn-default" ng-if="Experience" >Save</button>
						<button ng-click="AddMyExperiences()" class="btn btn-default" ng-if="!Experience">Create</button>
					</form>
			</div>


			<div id="Project" class="row">
				<h4>My Project</h4>
			<div class="row">
				<div ng-repeat="p in projects" >
					<div class="col-md-9">
						<!-- {{p.Id}} -->
						<b>Project: {{p.Name}}<br></b>
						Descrise: {{p.Descrise}}<br>
						Position: {{p.Position}}<br>
						Time: {{p.Time}}<br><br><br>
					</div>
					<div style="padding-bottom: 25px;" class="col-md-3">
						 <button ng-click="EditMyProjects(p.Id)" class="btn btn-default" >Edit</button>
					</div>
				</div>
			</div>
			<div class="row">
				<button ng-click="CreateMyProject()" class="btn btn-default" >Add New Project</button>
				<hr>
			</div>
					<form class="form-group" ng-hide="hideFormProject">
						<label>Position</label>
						<input type="text" ng-model="pPosition" class="form-control">
						<label>Name</label>
						<input type="text" ng-model="pName" class="form-control">
						<label>Time</label>
						<input type="text" ng-model="pTime" class="form-control">
						<label>Descrise</label>
						<input type="text" ng-model="pDescrise" class="form-control"><br>
						<button ng-click="SaveMyProjects()" class="btn btn-default" ng-if="Project" >Save</button>
						<button ng-click="AddMyProject()" class="btn btn-default" ng-if="!Project">Create</button>
					</form>
			</div>

			<div id="Skills" class="row"  style="padding-bottom: 10px;">
				<h4>My Skill</h4>
					<ul  ng-repeat="s in skills">
						<li style="float: left; margin-left: 10px; display: inline-block; ">
							<!-- <button class="btn btn-default" type="submit"> -->
							{{s.Name}}
							<!-- </button> -->
						</li>
					</ul><br><br>
					<div class="row">
						<button ng-click="AddSkills()" class="btn btn-default" ng-if="!addK">Add</button>
					</div>
				<div class="row">
				<div class="col-md-5" ng-if="Skill">
					<h4>Skill</h4>
					<input type="text" ng-model="sNameskill" class="form-control"><br>
					<button ng-click="AddSkill(sNameskill)" class="btn btn-default">Add Skill</button>
				</div>
				</div>
			</div>
			<div id="Education" class="row">
				<h4>My Education</h4>
				<div ng-repeat="e in education" class="col-md-12">
					<span ng-if="!editE"><b><h4>{{e.Name}}</h4></b></span>
					<div ng-if="editE"><b>Name</b><input  type="text" ng-model="e.Name" class="form-control"></div>
					<span ng-if="!editE">Greaduate: {{e.Time}}<br></span>
					<div ng-if="editE"><b>Greaduate</b><input  type="text" ng-model="e.Time" class="form-control"></div>
					<span ng-if="!editE">GPA: {{e.GPA}}<br></span>
					<div ng-if="editE"><b>GPA</b><input  type="text" ng-model="e.GPA" class="form-control"></div>
					<span ng-if="!editE">Major: {{e.Major}} <br><br></span>
					<div ng-if="editE"><b>Major</b><input  type="text" ng-model="e.Major" class="form-control"></div><br>
				</div>
					<button ng-click="editEducation()" class="btn btn-default" >Edit</button>
					<button ng-click="SaveEducation()" class="btn btn-default" >Save</button>
			</div>

			<div class="row" style="background-color: #565656; color: #fff">
			  <div class="col-md-12">Linkedin</div>
			</div>
	</div>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
