
body{
	background-color: #DFDFDF !important;
}

#myProfile{
	margin-top: 10px;
	background-color: #fff;
}
.images{
	width: 100px;
	height: 100px;
}

#Summary{
	margin-top: 10px;
	background-color: #fff;
}

#Experience{
    margin-top: 10px;
    background-color: #fff ;
    padding-left: 20px !important;
}

#Project{
    margin-top: 10px;
    background-color: #fff ;
    padding-left: 20px !important;
}
#Skills{
    margin-top: 10px;
    background-color: #fff ;
    padding-left: 20px !important;
}

#Education{
    margin-top: 10px;
    background-color: #fff ;
    padding-left: 20px !important;
    margin-bottom: 10px;
}
pre{
	display: block !important;
    padding: 0 !important;
    margin: 0 0 10px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
    word-break: none !important;
    word-wrap: none !important;
    background-color: #fff !important;
    border: 0px !important;
    border-radius: 0px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

