<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>1212209_DAGK_10</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myController">

	<div class="container">
			<div class="row" style="background-color: #565656; color: #fff">
			  <div class="col-md-12">Linkedin</div>
			</div>
			<!-- Content of linkedin -->
			<div class="row" ng-repeat="x in myInfo" id="myProfile" >
				<div class="col-md-2">
					<img src="{{x.Image}}" alt="Image" class="images" class="img-rounded">
				</div>
				<div class="col-md-5">
					<h3>{{x.HeadLine}}</h3>
					<span ng-if="!edit"><b>Full name:</b> {{x.Name}}</span><br>
					<input ng-if="edit" type="text" ng-model="x.Name" class="form-control">
					<span><b>Carrer: </b>{{x.Carrer}}</span><br>
					<span><b>Contact: </b>{{x.Contact}}</span><br>
					<span><b>Country: </b>{{x.Country}}</span><br>
					<button ng-click="editProfile()" class="btn btn-default">Edit</button><br>
				</div>
				<form class="col-md-5" ng-hide="hideformProfile">
					<br>
					<div class="form-group">
						<b>Full name</b> <input type="text" ng-model="Namee" class="form-control">
					</div>
					<div class="form-group">
						<b>Carrer:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="Carrer" class="form-control">
					</div>
					<div class="form-group">
						<b>Contact:</b> &nbsp;&nbsp;&nbsp;<input type="text" ng-model="Contact" class="form-control">
					</div>
					<div class="form-group">
						<b>Country:</b> &nbsp;&nbsp;&nbsp;<input type="text" ng-model="Country" class="form-control">
					</div>
					<button ng-click="SaveProfile()" class="btn btn-default" ng-model="Id">Save Profile</button>
				</form>
			</div>

			<div id="Summary" class="row" ng-repeat="s in summary">
				<div class="col-md-12">
					<h4>Summary</h4>
					<p><pre>{{s.Content}}</pre></p>
				</div>
			</div>

			<div id="Experience" class="row">
				<h4>Experience</h4>
				<div ng-repeat="e in experiences">
						<div class="col-md-8">
							<b><h5>{{e.Position}}</h5></b>
							{{e.Company}}<br>
							{{e.Time}}
						</div>
						<div class="col-md-4">
						    <br>
							<img src="{{e.Logo}}" alt="logo" style="width: 100px; height: 70px;">
						</div>
						<br><br><br><br><br>
						<hr>
					</div>
			</div>

			<div id="Project" class="row">
				<h4>My Project</h4>
				<div ng-repeat="p in projects" class="col-md-12">
					<b>Project: {{p.Name}}<br></b>
						Descrise: {{p.Descrise}}<br>
						Position: {{p.Position}}<br>
						Time: {{p.Time}}<br><br><br>
				</div>
			</div>

			<div id="Skills" class="row"  style="padding-bottom: 10px;">
				<h4>My Skill</h4>
					<ul  ng-repeat="s in skills">
						<li style="float: left; margin-left: 10px; display: inline-block; ">
							<button class="btn btn-default" type="submit">{{s.Name}}</button>
						</li>
					</ul>
			</div>
			<div id="Education" class="row">
				<h4>My Education</h4>
				<div ng-repeat="e in education" class="col-md-12">
					<b><h4>{{e.Name}}</h4></b>
					Greaduate: {{e.Time}}<br>
					GPA: {{e.GPA}}<br>
					Major: {{e.Major}} <br><br>
				</div>
			</div>

			<div class="row" style="background-color: #565656; color: #fff">
			  <div class="col-md-12">Linkedin</div>
			</div>
	</div>



	<script>
		var app = angular.module('myApp', []);
		app.config(['$compileProvider', function ($compileProvider) {
		  $compileProvider.debugInfoEnabled(true);
		}]);
		app.controller('myController', function($scope, $http){
			$scope.edit = false;
			window.MY_SCOPE = $scope;
			$http.get('Data/myinfo.json').then(function(response){
				$scope.myInfo = response.data.myInfo;
				console.log($scope.myInfo);
				$http.get("Data/summary.json").then(function(response1){
					$scope.summary = response1.data.summary;
				$http.get("Data/Experience.json").then(function(response2){
						$scope.experiences = response2.data.MyExperience;
				$http.get("Data/Project.json").then(function(response3){
						$scope.projects = response3.data.MyProject;
				$http.get("Data/Skills.json").then(function(response4){
						$scope.skills = response4.data.skill;
				$http.get("Data/Education.json").then(function(response5){
						$scope.education = response5.data.Education;
					        });
					      });
					   });
					});
				});
			});

			$scope.hideformProfile = true;
			$scope.editProfile = function(){
				$scope.edit = true;
				// $scope.temp = {};
				// $scope.temp = $scope.myInfo[0];
				$scope.hideformProfile = false;
				$scope.Namee = "";
				$scope.Namee = $scope.myInfo[0].Name;
				$scope.Carrer = $scope.myInfo[0].Carrer;
				$scope.Contact = $scope.myInfo[0].Contact;
				$scope.Country = $scope.myInfo[0].Country;
			};

			$scope.showChange = function(value){
				// console.log("change name: ", $scope.Namee);
				// console.log("Value", value);
				// $scope.myInfo[0].Name = value;
			}

			$scope.SaveProfile = function(){
				$scope.edit = false;
				// console.log($scope.Name);
				$scope.myInfo[0].Name = $scope.Namee;
				$scope.myInfo[0].Carrer =" ";
				$scope.myInfo[0].Contact = "";
				$scope.myInfo[0].Country = " ";
				// $scope.hideformProfile = true;
			};
		});
	</script>
</body>
</html>
